.pnptitle {
  text-align: center;
}

.pnpmain {
  background-image: url('../../documentation/images/access.png');
  padding-bottom: 100%;
  background-size: cover;
  color: beige;
  font-size: larger;
}
