.pnptitle {
  text-align: center;
}

.pnpmain {
  background-color: gainsboro;
  display: flex;
  flex-flow: column wrap;
  border-color: #9acd32;
  border-style: outset;
  border-width: 5px;
  padding: 10px;
}

.infoMain {
  font-size: larger;
  padding-bottom: 10px;
}

.inclusivepnpMain {
  padding: 10px;
  text-align: center;
}

.reviewpnpMain {
  padding-bottom: 15px;
}

.infoAddress {
  text-align: center;
}

.infoText {
  text-align: left;
}

.infoTextH {
  text-align: center;
  font-style: oblique;
}

.picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: solid;
}

.addressSize {
  font-size: x-large;
}

.inclusiveSize {
  font-size: xx-large;
  font-weight: bolder;
}

.infoSize {
  font-size: x-large;
}

.inclusiveHeader {
  font-variant: small-caps;
  color: black;
}

.inclusiveHeaderbackground {
  background-image: linear-gradient(
    to left,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
  text-shadow: whitesmoke 1px 0 10px;
}

.reviewedSize {
  font-size: small;
  text-align: right;
}
