#loginMain {
  background-color: gainsboro;
  padding: 35vh;
  background-image: url('/public/images/loginpage.png');
  background-size: cover;
  border-color: #9acd32;
  border-style: outset;
  border-width: 5px;
}

.btnL {
  display: inline-block;
  padding: 10px 20px;
  border-color: #014041;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: purple;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}

.btn_asLinkL {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  background-color: gainsboro;
  font: inherit;
  color: black;
}
