.inclusiveMainpage {
  background-color: gainsboro;
  display: flex;
  flex-flow: column wrap;
  border-color: antiquewhite;
  border-style: outset;
  border-width: 5px;
  padding: 6vh;
}

inclusiveList {
  color: black;
  font-size: x-large;
}

.inclusiveH1 {
  text-align: center;
}

.pictureinclusive {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.inclusiveHeaderbackground {
  background-image: linear-gradient(
    to left,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
  text-shadow: whitesmoke 1px 0 10px;
}

.inclusiveHeader {
  font-variant: small-caps;
  color: black;
}

.inclusiveSize {
  font-size: xx-large;
  font-weight: bolder;
}

.inclusivefeatureSize {
  font-size: x-large;
}

.inclusviestatusSize {
  font-size: xx-large;
  background-image: linear-gradient(
    to left,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
