.reviewMain {
  background-image: url('../../documentation/images/review.png');
  background-size: cover;
  display: flex;
  flex-flow: column wrap;
  border-color: #9acd32;
  border-style: outset;
  border-width: 5px;
  padding: 6vh;
}

.textCenter {
  text-align: center;
}

.form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.listR {
  padding-left: 200px;
  padding-right: 200px;
}

.reviewSize {
  font-size: x-large;
}

.reviewerSize {
  font-size: small;
  text-align: justify;
}

.reviewStyle {
  list-style-position: inside;
}
