.about {
  background-color: gainsboro;
  border-color: #9acd32;
  border-style: outset;
  border-width: 5px;
  padding: 6vh;
}

/* text-align: center;
  padding: 50vh;
  color: aquamarine; */
/* background-image: url('../../documentation/images/theBird.png'); */
